.Navbar{
    list-style-type: none;
    background-color: rgba(214, 204, 66, 0.6);
    margin-bottom: 0;
    padding-left: 100px;
    padding-top: 25px;
    font-size: x-large;
    text-align: center;
}
li{
    display: inline;
}
li  :hover{
    background-color: rgba(214, 204, 66, 1);
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }